#ignore 
logs/
*.pyc
server/.stack-work/*
ws-as-instance/.stack-work/*
server/alphasheets-exe.hp
server/alphasheets-exe.prof
server/alphasheets-test.aux
server/alphasheets-test.hp
server/alphasheets-test.prof
server/alphasheets-test.ps
static/images/*
server/dump.rdb
server/temp-*
server/*.pid
server/src/AS/Eval/run/cpp/run.cpp
server/src/AS/Eval/run/excel/run.py
server/src/AS/Eval/run/java/Run.java
server/src/AS/Eval/run/ocaml/run.mi
server/src/AS/Eval/run/py/run.py
server/src/AS/Eval/run/r/run.r
server/src/AS/Eval/run/sql/run.py