#ignore 
logs/
*.pyc
server/.stack-work/*
ws-as-instance/.stack-work/*
server/alphasheets-exe.hp
server/alphasheets-exe.prof
server/alphasheets-test.aux
server/alphasheets-test.hp
server/alphasheets-test.prof
server/alphasheets-test.ps
server/src/AS/Eval/run/py/temp.py
static/images/*
server/dump.rdb
server/temp-*
server/*.pid