#ignore 
*.pyc
server/.stack-work/*
server/alphasheets-exe.hp
server/alphasheets-exe.prof
server/alphasheets-test.aux
server/alphasheets-test.hp
server/alphasheets-test.prof
server/alphasheets-test.ps

dump.rdb
server/Index*
server/*.pid

server/logs/*
server/server_log
server/client_messages

server/eval_files/py/run.py
server/eval_files/py/run_repl.py
server/eval_files/**/headers/*
!server/eval_files/**/template.*
!server/eval_files/**/headers/

server/static/images/*

graph_database/server
