@import "../../node_modules/material-ui-sass/material-ui";
@import "../../node_modules/material-ui-sass/material-ui/_html";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

//Your custom app styles
.example-page {
  margin: auto;
  padding: 50px;
  width: 60%;
  text-align: center;
}

#task-list {
  width: 25%;
  margin: 20px auto;
  text-align: left;

  label {
    display: block;
  }
}

.mui-checkbox {
  display: inline-block;
}

.checkbox-label {
  padding: 10px;
}

fin-hypergrid {
    width: 400px;
    height: 300px;
    position: relative;
}

.full {
  width: 100%;
  height: 100%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.rdTabBar {
  padding-left: 20px;
}

.rdTabTitle {
  padding-top: 0px;
  margin-top: 6px;
}

.rdTabAddButton {
  visibility: hidden;
}

body {
  overflow: hidden;
}
