@import "../../node_modules/material-ui-sass/material-ui";
@import "../../node_modules/material-ui-sass/material-ui/_html";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);


//Your custom app styles
.example-page {
  margin: auto;
  padding: 50px;
  width: 60%;
  text-align: center;
}

#task-list {
  width: 25%;
  margin: 20px auto;
  text-align: left;

  label {
    display: block;
  }
}

.mui-checkbox {
  display: inline-block;
}

.checkbox-label {
  padding: 10px;
}

fin-hypergrid {
    width: 400px;
    height: 300px;
    position: relative;
}

.full {
  width: 100%;
  height: 100%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.rdTabBar {
  padding-left: 20px;
}

.rdTabTitle {
  padding-top: 0px;
  margin-top: 6px;
}

.rdTabAddButton {
  visibility: hidden;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

body {
  overflow: hidden;
}

// Dark Ansi Colour Scheme for cell output display, pulled from
// https://github.com/drudru/ansi_up/blob/master/examples/theme.scss
.ansi-black-fg {color: #3A3A3A;}
.ansi-red-fg {color: #DD948E;}
.ansi-green-fg {color: #B6D1AA;}
.ansi-yellow-fg {color: #F3D57C;}
.ansi-blue-fg {color: #8AA9D5;}
.ansi-magenta-fg {color: #CBAFD5;}
.ansi-cyan-fg {color: #9AD1D4;}
.ansi-white-fg {color: #EFEFEF;}
.ansi-bright-black-fg {color: #5E5D5E;}
.ansi-bright-red-fg {color: #E69B94;}
.ansi-bright-green-fg {color: #D1F0C3;}
.ansi-bright-yellow-fg {color: #F4D799;}
.ansi-bright-blue-fg {color: #A6CBFE;}
.ansi-bright-magenta-fg {color: #E7C7F2;}
.ansi-bright-cyan-fg {color: #B0F0F5;}
.ansi-bright-white-fg {color: #FFF;}
.ansi-black-bg {background-color: #3A3A3A;}
.ansi-red-bg {background-color: #DD948E;}
.ansi-green-bg {background-color: #B6D1AA;}
.ansi-yellow-bg {background-color: #F3D57C;}
.ansi-blue-bg {background-color: #8AA9D5;}
.ansi-magenta-bg {background-color: #CBAFD5;}
.ansi-cyan-bg {background-color: #9AD1D4;}
.ansi-white-bg {background-color: #EFEFEF;}
.ansi-bright-black-bg {background-color: #5E5D5E;}
.ansi-bright-red-bg {background-color: #E69B94;}
.ansi-bright-green-bg {background-color: #D1F0C3;}
.ansi-bright-yellow-bg {background-color: #F4D799;}
.ansi-bright-blue-bg {background-color: #A6CBFE;}
.ansi-bright-magenta-bg {background-color: #E7C7F2;}
.ansi-bright-cyan-bg {background-color: #B0F0F5;}
.ansi-bright-white-bg {background-color: #FFF;}
